# HiveMQ Cloud
MQTT_BROKER=e1289c0239d2494eb652b76219030283.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USERNAME=your_hivemq_username
MQTT_PASSWORD=your_hivemq_password

# PostgreSQL
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=healthcare_iot
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgresql_password

# Ollama
OLLAMA_MODEL=llama3.2:3b
